@charset "UTF-8";
/* CSS Document */
	
  box-sizing: border-box;

	body{
		background-color:aliceblue;
}
	#container{
		width:900px;
		height:635px;
		background-color:darkgrey;
		margin: 0 auto;
	}
	header{
		height:100px;
		background-color:darkgrey;
		font-family: 'Fredericka the Great';
		font-size: 70px;
		color: black;
		text-align: center;
		background-image:url("images/f441d44a4b57c927fdc427a746312cce.jpg");
		padding: 30px 10px 30px 10px
	}
		nav{
		height: 20px;
		background-color: lightblue;
		margin:auto;
		text-align:center;
		padding: 10px 10px 10px 10px;
		font-size: 20px;
		color:black;
		letter-spacing: 3px;
}
	.secLeft{
		height:380px;
		width:320px;
		background-color:white;
		margin: 20px 5px 20px 10px;
		float: left;
		padding: 5px 20px 10px 30px;
		text-align: center;
	}
	.secRight{
		height:380px;
		width:440px;
		background-color:white;
		margin: 20px 10px 20px 5px;
		padding: 5px 20px 10px 30px;
		float: right;
	}
	footer{
		height:20px;
		width:900px;
		background-color: lightblue;
		color:black;
		float:left;
		}
